<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Sistema Escolar</title>
  <link rel="stylesheet" href="public/assets/style.css">
</head>

<body>
  <div class="main-container">
    <div class="titulo">
      <h1>Sistema Escolar</title>
    </div>
    
    <div class="login-container">
      <h2>Login</h2>
      <form id="loginForm" method="post">
        <input type="text" id="username" placeholder="Usuário" name="nomelogin" required />
        <input type="password" id="password" placeholder="Senha" name="senhalogin" required />
        <button type="submit">Login</button>
        <p class="error" id="errorMessage" style="display: none;"></p>
      </form>
    </div>
  </div>
</body>
</html>
